<main>
  <section class="about-e1 section">
    <div class="overlay"></div>
    <div class="container e1-content">
      <h1>About</h1>
      <div class="line"></div>
      <div class="e1-title">
        <p>Home</p>
        <i class="bi bi-chevron-double-right"></i>
        <p>About</p>
      </div>
    </div>
  </section>
  <section class="about-e2 section">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div>
            <h3>About Aquavist</h3>
            <div class="line"></div>
            <h1>We Are Ready To Pamper You With A More Beautiful Aquarium</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip dolore magna aliqua enim ad minim veniam, quis nostrud.</p>
            <div class="row">
              <div class="col-6">
                <img src="../../assets/images/imperial-anglefish-closeup-in-saltwater-aquarium-e1628655205910.jpg" alt="">
              </div>
              <div class="col-6">
                <p>Tempor lorem ipsum dolor sit amet consec tetur adip iscing elit, sed do eiusmod tempor incididuntut labore et dolore magna.</p>
                <div><i class="bi bi-check-lg"></i><p>Photos with Animals</p></div>
                <div><i class="bi bi-check-lg"></i><p>Restaurants & Fast Foods</p></div>
                <div><i class="bi bi-check-lg"></i><p>Free Wi-Fi with Hi Speed</p></div>
                <div><i class="bi bi-check-lg"></i><p>Many Competitions</p></div>
                <div><i class="bi bi-check-lg"></i><p>Luxury Aquarium</p></div>
                <div>
                  <a href="#">Read More</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div>
            <img src="../../assets/images/reaching-the-ocean-e1628655217455.jpg" alt="">
            <div>
              <h5>“Quotes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus.”</h5>
              <span>Teddy Saunders</span>
              <a href="#">CEO & Founder</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-e3 section">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-6">
              <div>
                <div><i class="bi bi-app"></i></div>
                <div>
                  <h3>Design & Install</h3>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div>
                <div><i class="bi bi-app"></i></div>
                <div>
                  <h3>Design & Install</h3>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div>
                <div><i class="bi bi-app"></i></div>
                <div>
                  <h3>Design & Install</h3>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div>
                <div><i class="bi bi-app"></i></div>
                <div>
                  <h3>Design & Install</h3>
                  <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div>
            <h5>Our Services</h5>
            <div class="line"></div>
            <h1>We Provide Special Sevices</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam tempor aliqua.</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section about-e4">
    <div class="overlay"></div>
    <div class="container">
      <div>
        <h5>Aquavist Experiences</h5>
        <div class="line-1"></div>
        <h1>Our Skills & Experience</h1>
        <div class="row">
          <div class="col-6">
            <div>
              <h5>Completed Project</h5>
              <span>99%</span>
            </div>
            <div class="line"></div>
          </div>
          <div class="col-6">
            <div>
              <h5>Consultation</h5>
              <span>85%</span>
            </div>
            <div class="line"></div>
          </div>
          <div class="col-6">
            <div>
              <h5>Design & Installation</h5>
              <span>92%</span>
            </div>
            <div class="line"></div>
          </div>
          <div class="col-6">
            <div>
              <h5>Aquarium Supply</h5>
              <span>95%</span>
            </div>
            <div class="line"></div>
          </div>
          <div class="col-6">
            <div>
              <h5>Health Services</h5>
              <span>89%</span>
            </div>
            <div class="line"></div>
          </div>
          <div class="col-6">
            <div>
              <h5>Professional Team</h5>
              <span>80%</span>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="section about-e5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div>
          <h3>Sips Under The Sea</h3>
          <span>Sept 14, 2016</span>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempo incididunt ut labore ut labore et dolore tempo....</p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-4">
        <div>
          <h3>Aqua Vino</h3>
          <span> 19 Oct, 2019</span>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempo incididunt ut labore ut labore et dolore tempo....</p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-4">
        <div>
          <h3>Atlanta Pride</h3>
          <span>27 Nov, 2020</span>
          <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempo incididunt ut labore ut labore et dolore tempo....</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-e6">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="Pricing-Plan">
          <h6>Pricing & Plan</h6>
          <div class="ngang"></div>
          <h1>Our Pricing</h1>
          <h6 class="Pricing">
            We are free for children under one meter two (or under 12 years old)</h6>
          <div class="all">
            <button type="submit">All Pricing</button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="family">
              <h4>Family</h4>
              <div class="visit">
                <h1>$60</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now">
                <button type="submit">Purchase Now</button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span></span>4 Family Members
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p">* Including tax & aquavist insurance.</p>
            </div>
          </div>
          <div class="col-6 ">
            <div class="family-one">
              <h4>Family</h4>
              <div class="visit">
                <h1>$20</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now-one">
                <button type="submit">Purchase Now</button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right-one">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span></span>4 Family Members
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p-one">* Including tax & aquavist insurance.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section section-e7">
  <div class="row">
    <div class="col-5">
      <div class="over-lay-one"></div>
      <div class="main-event">
        <h5>Main Event</h5>
        <div class="ngang"></div>
        <h1>Floral Coral</h1>
        <div class="Floral-Coral">
          <h6>Sweat it out this summer with an immersive workout experience. Barre by the Water is a full-body workout that transforms you physically and mentally. This musically driven group class focuses on low-impact, high-intensity movements that strengthen and tone your body.
            <br> <br>

            This class will be held in the Ocean Voyager exhibit which has up-close views of whale sharks, manta rays and our famous green sea turtle. Pure Barre instructors teach to all experience levels, so if you’re new to barre this is a great place to start.
            <br> <br>

            Support from Pure Barre: Inman Park, Druid Hills, Westside, Brookhaven, Buckhead, Chastain and Vinings. <br>

            Hurry, space is limited! Tickets include a 60-minute class and complimentary parking. Doors open at 6:00pm; class begins at 6:30pm.
          </h6>
        </div>
        <h4>17 August 2021</h4>
        <p>Independence Event</p>
        <div class="book-now">
          <button type="submit">Book Now</button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="Aquavist-Events">
        <h5>Aquavist Events</h5>
        <div class="ngang"></div>
        <h1>Upcoming Events At Aquavist Aquarium</h1>
        <div class="row">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/aquarium-tank-1-e1628655247905.jpg">
            </div>

          </div>
          <div class="col-8 card-e5">
            <div class="row ">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Pacific Ocean</h5>
                  <h6>29 Aug, 2021</h6>
                  <h5 >$32/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out">
                  <a routerLink="#"> Sold out</a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row card-e6">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/neon-organisms-in-lyon-aquarium-underwater-photo-e1628655259598.jpg">
            </div>
          </div>
          <div class="col-8">
            <div class="row card-e7">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Fun Aquarium</h5>
                  <h6>26 Sept, 2021</h6>
                  <h5 >$27/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <a routerLink="/ticket"> Book now</a>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="row card-e8">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-1-e1628655272345.jpg">
            </div>
          </div>
          <div class="col-8 card-e7">
            <div class="row ">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Water Splash</h5>
                  <h6>30 Oct, 2021</h6>
                  <h5 >$35/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <a routerLink="/ticket"> Book now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-e8">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="Client-Inquries">
          <h6>Client Inquries</h6>
          <div class="ngang"></div>
          <h1>Related Questions</h1>
          <p>EVERYTHING YOU NEED TO KNOW</p>
          <div>
            <div (clickOutside)="clickedOutside1()">
              <button class="menu-toggler"  (click)="toggleMenu1()">
                <i class="bi bi-plus-lg"></i> <span>What are your opening hours?</span>
              </button>
              <div class="menu" *ngIf="isMenuOpened1">
                <p>OPEN TODAY 9AM - 9PM</p>
              </div>
            </div>
            <div  (clickOutside)="clickedOutside2()">
              <button class="menu-toggler"  (click)="toggleMenu2()">
                <i class="bi bi-plus-lg"></i><span>Need to Know</span>
              </button>
              <div class="menu" *ngIf="isMenuOpened2">
                <p>Food & Drink policy:
                  No outside food or beverages are permitted in the aquarium with the exception of small snacks for children or visitors with food allergies.  The aquarium has several water bottle filling stations,
                  we encourage you to bring a refillable water bottle for your visit.</p>
              </div>
            </div>
            <div (clickOutside)="clickedOutside3()" >
              <button class="menu-toggler" (click)="toggleMenu3()"> <i class="bi bi-plus-lg"></i>
                <span>Before You Arrive</span>
              </button>
              <div class="menu" *ngIf="isMenuOpened3">
                <p>Hours of operation vary daily; please check our calendar before your visit.
                  Purchase tickets online to save money. Choose the date and time of your arrival,
                  and arrive within an hour of your selected time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="images-true">
        </div>
      </div>
    </div>
  </div>
</section>

</main>
