<main>
  <section class="section home-e1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div>
            <h5>Amazing Aquarium</h5>
          </div>
          <div class="line"></div>
          <div>
            <h1>The Most Beautiful Aquarium In The World</h1>
          </div>
          <div class="home-e1-text">
            <p>Suspendisse in magna in elit hendrerit condimentum. Phasellus eu justo mi. Proin aliquet, mauris a volutpat lobortis, erat libero condimentum metus, eu tincidunt felis ligula in turpis.</p>
          </div>
          <div class="row home-e1-link">
            <div class="col">
              <a class="get">Get Started</a>
            </div>
            <div class="col">
              <a class="read">Get Started</a>
            </div>
            <div class="col"></div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
  <section class="section home-e2">
    <div class="container-fuild">
      <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col home-e2-card">
              <h3>Aquarium Design</h3>
              <p>Lorem ipsum dolor sit amet deliar consectetur adipiscing.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="col home-e2-card">
              <h3>Complete Fishes</h3>
              <p>Lorem ipsum dolor sit amet deliar consectetur adipiscing.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="col home-e2-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-e3">
    <div class="container">
      <div class="row">
        <div class="col-5 ">
          <div class="home-e3-l">
            <img src="../../assets/images/aquarium-e1628654647969.jpg" height="672" alt="">
            <div class="home-e3-l-text">
              <div style="display: flex;">
                <h1>2.820 </h1>
                <i class="bi bi-plus"></i>
              </div>

              <p>Satisfied Clients</p>
            </div>
            <div class="num-play ripple">
              <a href="#"><i class="bi bi-play-fill"></i></a>
            </div>

          </div>
        </div>
        <div class="col-7">
          <div class="home-e3-r">
            <h5>About Aquavist</h5>
            <div class="line"></div>
            <h1>We Are The Most Complete Aquarium</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
            <div class="row">
              <div class="col">
                <i class="bi bi-truck"></i>
                <h4>Local Source</h4>
                <p>Lorem ipsum dolor sit amet sed consect adipiscing elit sed do eiusmod tempor incididunt.</p>
                <a href="#">Read More</a>
              </div>
              <div class="col">
                <i class="bi bi-truck"></i>
                <h4>Local Source</h4>
                <p>Lorem ipsum dolor sit amet sed consect adipiscing elit sed do eiusmod tempor incididunt.</p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-e4">
    <div class="container">
      <div class="row">
        <div class="col-2">
            <img src="../../assets/images/asset1-T6M9WU6.png" alt="">
            <h3>Pike Fish</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset2-T6M9WU6.png" alt="">
            <h3>Marline Fish</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset3-T6M9WU6.png" alt="">
            <h3>Boar Fish</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset4-T6M9WU6.png" alt="">
            <h3>Seahorse</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset5-T6M9WU6.png" alt="">
            <h3>Hog Fish</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset6-T6M9WU6.png" alt="">
            <h3>Threadfin</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
            <img src="../../assets/images/asset7-T6M9WU6.png" alt="">
            <h3>Clown Fish</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset8-T6M9WU6.png" alt="">
            <h3>Sword Fish</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset9-T6M9WU6.png" alt="">
            <h3>Molidae</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset10-T6M9WU6.png" alt="">
            <h3>Blow Fish</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset11-T6M9WU6.png" alt="">
            <h3>Coral</h3>
        </div>
        <div class="col-2">
          <img src="../../assets/images/asset12-T6M9WU6.png" alt="">
            <h3>Angler Fish</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-e5">
    <div class="container-fuild">
      <div class="row">
        <div class="col-6 home-e5-l">
          <h5>What We Do</h5>
          <div class="line"></div>
          <h1>We Make An Aquarium That Spoils The Eyes</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo enim ad minim veniam, quis nostrud exercitation.</p>
          <div class="row">
            <div class="col-6">
              <svg height="150" width="150">
                <circle cx="75" cy="75" r="70" stroke="#19CBE4" stroke-width="5" fill="none" />

              </svg>
              <div class="statis">
                <h2>98 %</h2>
              </div>
              <h3>Pike Fish</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum auctor, iaculis arcu quis.</p>
              <a href="#">Read More</a>
            </div>
            <div class="col-6">
              <svg height="150" width="150">
                <circle cx="75" cy="75" r="70" stroke="#19CBE4" stroke-width="5" fill="none" />
                Sorry, your browser does not support inline SVG.
              </svg>
              <div class="statis">
                <h2>90 %</h2>
              </div>
              <h3>Pike Fish</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum auctor, iaculis arcu quis.</p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="home-e5-r"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-e6">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div>
                <span class="material-symbols-outlined">grid_view</span>
                <h3>Design & Install</h3>
                <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p>
                <a href="#">Read More</a>
              </div>
            </div>
            <div class="col">
              <div>
                <span class="material-symbols-outlined">grid_view</span>
                <h3>Design & Install</h3>
                <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h5>Our Services</h5>
          <div class="line"></div>
          <h1>We Provide Special Sevices</h1>
          <a href="#">All Services</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <span class="material-symbols-outlined">grid_view</span>
            <h3>Design & Install</h3>
            <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="col">
          <div>
            <span class="material-symbols-outlined">grid_view</span>
            <h3>Design & Install</h3>
            <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="col">
          <div>
            <span class="material-symbols-outlined">grid_view</span>
            <h3>Design & Install</h3>
            <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="col">
          <div>
            <span class="material-symbols-outlined">grid_view</span>
            <h3>Design & Install</h3>
            <p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section home-e7">
    <div class="container-fuild" #mouseTarget>
      <div class="row">
        <div class="col-3" (mouseenter)="ChangerImages1(mouseTarget) ">
          <div class="bg-w" ></div>
          <h3>Hygropphila Diformis</h3>
        </div>
        <div class="col-3" (mouseenter)="ChangerImages2(mouseTarget)">
          <div class="bg-w"></div>
          <h3>Hygropphila Diformis</h3>
        </div>
        <div class="col-3" (mouseenter)="ChangerImages3(mouseTarget)">
          <div class="bg-w"></div>
          <h3>Hygropphila Diformis</h3>
        </div>
        <div class="col-3" (mouseenter)="ChangerImages4(mouseTarget)">
          <div class="bg-w"></div>
          <h3>Hygropphila Diformis</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-e8">
    <div class="container">
      <h5>Testimonial</h5>
      <div class="line"></div>
      <h1>Some Quotes From Our Clients</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam dolore aliqua.</p>
      <div class="row">
        <div class="col-3">
          <img src="../../assets/images/colorful-fish-background-minimal-art-e1628654909970.jpg" alt="">
        </div>
        <div class="col-3">
          <div>
            <h4>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h4>
          <span>Rita Eland</span>
          </div>
        </div>
        <div class="col-3">
          <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-e1628654803499.jpg" alt="">
        </div>
        <div class="col-3">
          <div>
            <h4>“Lorem ipsum dolor sit amet, consectetur adip iscing elit. sed do eius mod tempor incididunt labore magna.” </h4>
          <span>Rita Eland</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-e9">
    <div class="container">

      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic veritatis exercitation placeat reiciendis veniam provident veritati.</p>
            <div class="rating">
              <ul>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
              </ul>
            </div>
            <div class="user">
              <img src="../../assets/images/pleased-cheerful-redhaired-male-with-pleasant-smil-CCXAYZL.jpg" class="d-block" alt="...">
              <div>
                  <strong>Dominic Pelletier</strong>
                  <p>Visitors</p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic veritatis exercitation placeat reiciendis veniam provident veritati.</p>
            <div class="rating">
              <ul>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
              </ul>
            </div>
            <div class="user">
              <img src="../../assets/images/indoor-shot-of-attractive-european-schoolgirl-has-LEUUQRK.jpg" class="d-block" alt="...">
              <div>
                  <strong>Dominic Pelletier</strong>
                  <p>Visitors</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic veritatis exercitation placeat reiciendis veniam provident veritati.</p>
            <div class="rating">
              <ul>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
                <li><i class="bi bi-star-fill"></i></li>
              </ul>
            </div>
            <div class="user">
              <img src="../../assets/images/attractive-older-man-smiling-PQ3VUFU.jpg" class="d-block" alt="...">
              <div>
                  <strong>Dominic Pelletier</strong>
                  <p>Visitors</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <section class="section home-10">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h5>Our News</h5>
          <div class="line"></div>
          <h1>News & Articles</h1>
        </div>
        <div class="col-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam dolore aliqua tempor incididunt ut labore et dolore magna.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div>
            <div class="overley"></div>
            <div class="category">
              <a href="#">Saltwater</a>
            </div>
            <div class="category-text">
              <h3>Different Aquariums For Different Ideas</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...
              </p>
            </div>
          </div>


        </div>
        <div class="col-4">
          <div>
            <div class="overley"></div>
            <div class="category">
              <a href="#">Saltwater</a>
            </div>
            <div class="category-text">
              <h3>Different Aquariums For Different Ideas</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div>
            <h1>Recent News</h1>
            <div class="line"></div>
            <div class="recent">
              <div class="new">
                <div><img src="../../assets/images/salt-water-aquarium-800x600.jpg" alt=""></div>
                <div>
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div><i class="bi bi-calendar"></i>
                    <span>August 7, 2021</span></div>
                </div>
              </div>
              <div class="new">
                <div><img src="../../assets/images/salt-water-aquarium-800x600.jpg" alt=""></div>
                <div>
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div><i class="bi bi-calendar"></i>
                    <span>August 7, 2021</span></div>
                </div>
              </div>
              <div class="new">
                <div><img src="../../assets/images/salt-water-aquarium-800x600.jpg" alt=""></div>
                <div>
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div><i class="bi bi-calendar"></i>
                    <span>August 7, 2021</span></div>
                </div>
              </div>
              <div class="new">
                <div><img src="../../assets/images/salt-water-aquarium-800x600.jpg" alt=""></div>
                <div>
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div><i class="bi bi-calendar"></i>
                    <span>August 7, 2021</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
